<div class="container" id="written_text">

</div>
    <div id="kcontainer">
      <div class="keyboard_row">
        <div class="key" value="~">
          ~
        </div>
        <div class="key" value="!">
          !
        </div>
        <div class="key" value="@">
          @
        </div>
        <div class="key" value="#">
          #
        </div>
        <div class="key" value="$">
          $
        </div>
        <div class="key" value="%">
          %
        </div>
        <div class="key" value="^">
          ^
        </div>
        <div class="key" value="&">
          &
        </div>
        <div class="key" value="*">
          *
        </div>
        <div class="key" value="(">
          (
        </div>
        <div class="key" value=")">
          )
        </div>
        <div class="key" value="_">
          _
        </div>
        <div class="key" value="+">
          +
        </div>
        <div class="key key-wide" value="Bksp">
          Bksp
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-wide" value="Tab">
          ->| Tab
        </div>
        <div class="key" value="q">
          Q
        </div>
        <div class="key" value="w">
          W
        </div>
        <div class="key" value="e">
          E
        </div>
        <div class="key" value="r">
          R
        </div>
        <div class="key" value="t">
          T
        </div>
        <div class="key" value="y">
          Y
        </div>
        <div class="key" value="u">
          U
        </div>
        <div class="key" value="i">
          I
        </div>
        <div class="key" value="o">
          O
        </div>
        <div class="key" value="p">
          P
        </div>
        <div class="key" value="{">
          {
        </div>
        <div class="key" value="}">
          }
        </div>
        <div class="key" value="|">
          |
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key" value="a">
          A
        </div>
        <div class="key" value="s">
          S
        </div>
        <div class="key" value="d">
          D
        </div>
        <div class="key" value="f">
          F
        </div>
        <div class="key" value="g">
          G
        </div>
        <div class="key" value="h">
          H
        </div>
        <div class="key" value="j">
          J
        </div>
        <div class="key" value="k">
          K
        </div>
        <div class="key" value="l">
          L
        </div>
        <div class="key" value=";">
          ;
        </div>
        <div class="key" value="comilla">
          "
        </div>
        <div class="key key-special key-wide" value="Enter">
          Enter
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special key-wide" value="Shift">
          Shift
        </div>
        <div class="key" value="z">
          Z
        </div>
        <div class="key" value="x">
          X
        </div>
        <div class="key" value="c">
          C
        </div>
        <div class="key" value="v">
          V
        </div>
        <div class="key" value="b">
          B
        </div>
        <div class="key" value="n">
          N
        </div>
        <div class="key" value="m">
          M
        </div>
        <div class="key" value="<">
          <
        </div>
        <div class="key" value=">">
          >
        </div>
        <div class="key" value="?">
          ?
        </div>
        <div class="key key-special key-wide" value="Shift_2">
          Shift
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special" value="Accept">
          Accept
        </div>
        <div class="key key-space" value="Space">
        </div>
        <div class="key key-special key-wide" value="Cancel">
          Cancel
        </div>
      </div>
    </div>
<div class="button_container">
  <button id="btn-show-hide" class="btn btn-primary">Show/Hide</button>
</div>